<div id="contact-form">
  <form [formGroup]="formContainer">
    <div id="contact-data">
      <fieldset id="contact">
        <div class="contact-form-element">
          <div class="contact-text">
            <label for="lastname">Entreprise</label>
          </div>
          <input
            type="text"
            [formControl]="formContainer.controls.companyName"
            id="companyname"
          />
          <p
            *ngIf="formContainer.controls.companyName.hasError('required')"
            class="contact-form-error"
            id="error1-companyName"
          >
            merci de renseigner un nom d'entreprise
          </p>
        </div>
        <div class="contact-form-element">
          <div class="contact-text">
            <label for="lastname">Nom</label>
          </div>
          <input
            type="text"
            [formControl]="formContainer.controls.lastName"
            id="lastname"
          />
          <p
            *ngIf="formContainer.controls.lastName.hasError('required')"
            class="contact-form-error"
            id="error1-lastName"
          >
            merci de renseigner votre nom
          </p>
        </div>
        <div class="contact-form-element">
          <div class="contact-text">
            <label for="firstname">Prénom</label>
          </div>
          <input type="text" id="firstname" />
        </div>
        <div class="contact-form-element">
          <div class="contact-text">
            <label for="email">E-mail</label>
          </div>
          <input
            type="email"
            [formControl]="formContainer.controls.eMail"
            id="email"
          />
          <p
            *ngIf="formContainer.controls.eMail.hasError('required')"
            class="contact-form-error"
            id="error1-email"
          >
            merci de renseigner votre e-mail
          </p>
        </div>
      </fieldset>
      <fieldset id="message">
        <div class="contact-form-element">
          <div class="contact-text">
            <label for="subject">Sujet</label>
          </div>
          <input type="text" id="subject" />
        </div>
        <div class="contact-form-element">
          <div class="contact-text">
            <label for="message">Message</label>
          </div>
          <textarea
            id="message"
            [formControl]="formContainer.controls.message"
            maxlength="256"
          ></textarea>
          <p
            *ngIf="formContainer.controls.message.hasError('maxlength')"
            class="contact-form-error"
            id="error1-message"
          >
            256 charactères maximum
          </p>
        </div>
      </fieldset>
    </div>
    <div id="contact-submit">
      <button
        (click)="onSubmitForm()"
        type="submit"
        [disabled]="formContainer.invalid"
      >
        Envoyer
      </button>
    </div>
  </form>
</div>
